@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,600;0,700;1,600&family=Belleza&family=Poppins:wght@100;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
    background-color: #fdf2fe;
}


section, footer {
    padding-top: 70px;
    padding-bottom: 70px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    color: #0d0010;
    font-weight: 600;
}


p{
    color: #0d0010;
    font-size: 1.2rem;
    line-height: 35px;
    font-family: 'Andada Pro', serif;
    font-weight: 400;
}

i{
    color: #520160;
    font-size: 2rem;
    padding: 15px;
    
}


a{
    text-decoration: none;
}